<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy <%= link_to 'Developers Blog', root_path %> 
      by <a href="http://www.amgadamer.com/" target="_blank">Amgad Amer</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>